.carousel{
    --card-size: 157px;
    display: flow-root;
    padding-top: 6em;
    padding-bottom: 10em;
    overflow-x: hidden;
    position: relative;
    top: -20em;

    @include breakpoint (lg){
        --card-size: 390px;
        top: -34em;
    }

    &__track{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        min-height: 500px;
        padding-left: calc(50vw - var(--card-size));
        transition: transform 0.5s ease-in-out;

        @include breakpoint (lg){
            min-height: 740px;
        }
    }

    &__button{
        background-color: var(--white);
        padding: 20px 60px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: $font-family-condensed;
        text-align: center;
        letter-spacing: 0.25em;
        color: var(--black);
        border: 3px solid var(--black);
        
        position: absolute;
        display: block;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 60px;
        max-width: fit-content;

        @include breakpoint (lg){ 
            padding: 20px 100px;
        }

        &:hover{
            border-color: var(--pink);
            color: var(--pink);
        }
        
    }
}