.hero {
    padding: 16px;

    &__title b {
        color: var(--pink);
    }

    &__imageWrapper{
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 250px;
            width: 250px;
            background-color: var(--pink);
            left: -16px;
        }
    }

    &__image {
        max-height: 250px;
        object-fit: cover;
        object-position: bottom;
    }
}