.description__container{
    padding: 60px 20px;
}

.description {
    padding:0px;
    @include breakpoint (lg) {
        display: flex;
    }

    &__image {
        z-index: 1;
        position: relative;
        padding-bottom: 53px;
        @include breakpoint (lg) {
            padding-right: 40px;
            margin: 80px 20px 15px 0px;
            height: 461px;
            min-width: 461px;
            min-height: 461px;   
        }
    }

    &__title {
        padding-bottom: 24px;
        @include breakpoint (lg) {
            padding-bottom: 40px;
            margin: 60px 0px 0px;
        }
    }

    &__description {
        padding: 0px 25px 60px;
    }

    &__block {
        position:absolute;
        width: 160px;
        height: 160px;
        background-color: var(--pink);
        z-index: -1;
        bottom: 30px;
        left: -10%;
        @include breakpoint (lg) {
          bottom: 10px;
          left: -9%;
        }
    }
}