.news-carousel {
  background-color: var(--white);
  margin-bottom: 60px;

  &--bisque {
    background-color: rgba(249, 235, 229, 0.5);
    padding: 60px 0;

    @include breakpoint(lg) {
      padding: 90px 0 99px;
    }
  }

  &__container {
    overflow: hidden;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 32px;
    position: relative;
    margin-bottom: 71px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 64px;
      height: 3px;
      background-color: var(--pink);
    }

    @include breakpoint(lg) {
      margin-bottom: 56px;
    }
  }

  &__title {
    color: var(--black);
  }

  .controls {
    display: flex;

    &__button {
      padding: 15px 19px 15px 18px;
      background-color: var(--pink);
      color: var(--white);
      border: none;
      cursor: pointer;

      &:first-child {
        margin-right: 16px;
      }

      .fas {
        font-size: 1.8rem;
      }

      &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &--sm {
      justify-content: center;

      @include breakpoint(lg) {
        display: none;
      }
    }

    &--desk {
      display: none;

      @include breakpoint(lg) {
        display: flex;
      }
    }
  }

  &__cards {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 40px;
    transition: 0.3s transform;

    @include breakpoint(lg) {
      margin-bottom: 0;
    }
  }

  &__card {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @include breakpoint(md) {
      width: 50%;
    }

    @include breakpoint(lg) {
      width: 33.3%;
    }
  }

  .news-card {
    &__image {
      position: relative;
      padding-top: calc(39 / 61 * 100%);
      height: 0;
      margin-bottom: 30px;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--pink);
        z-index: 1;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }

    &__info {
      color: var(--black);
    }

    &__title {
      margin-bottom: 23px;
    }

    &__description {
      margin-bottom: 26px;
    }

    &__cta {
      display: flex;
      align-items: center;
      font-family: $font-family-regular;
      font-size: 1.8rem;
      font-weight: normal;
      letter-spacing: 0.02rem;
      line-height: 120%;
      color: var(--black);
    }

    &__arrow {
      width: 21px;
      height: 21px;
      margin-left: 9px;
    }
  }
}
