.supportHero{

    margin-top: 80px;
    margin-bottom: 50px;

    @include breakpoint (lg) {
        margin-top: 130px;
        margin-bottom: 120px;
    }

    &__wrapper{
        margin-left: 0;
        margin-right: 0;
    }

    .decorationLine{
        margin-bottom: 24px;
    }

    &__title{
        margin: 0;
        padding-bottom: 0;
    }

    &__description{
        white-space: pre-line;
        margin-bottom: 30px;
        margin-top: 0;
    }


    &__image{
        position: relative;
        height: fit-content;
        z-index: 1;
        margin-bottom: 6em;
        padding-bottom: 0;

        @include breakpoint (lg) {
            margin-top: 0;
            margin-bottom: 2.4em;
        }

        &::before {

            @include breakpoint(lg){
                content: '';
                position: absolute;
                height: 25em;
                width: 25em;
                background-color: var(--pink);
                z-index: -1;
                left: -3em;
                bottom: -3em;
            }
        }
    }

}