:root {
  --bisque: #f9ebe5;
  --black: #3a3a3a;
  --grey: #727074;
  --pink: #db6998;
  --white: #ffffff;
}

$font-coolvetica-compressed: "Coolvetica Compressed";
$font-coolvetica-condensed: "Coolvetica Condensed";
$font-coolvetica-crammed: "Coolvetica Crammed";
$font-coolvetica-italic: "Coolvetica Italic";
$font-coolvetica-regular: "Coolvetica Regular";
$font-roboto: "Roboto";
