<section class="carousel">
    <div class="carousel__track">
        {{#each cards}}
            {{{module this}}}
        {{/each}}
    </div>
    <a href="" class="carousel__button h4"></a>
</section>