<section class="contact">
  <div class="container contact__container">
    <div class="contact__left">
      <h2 class="contact__title">{{title}}</h2>
      <p class="contact__description">{{description}}</p>
    </div>

    <div class="contact__right">
      <a class="contact__button" href={{ctaLink}}>{{ctaLabel}}</a>
    </div>
  </div>
</section>
