	<!-- Header logos -->
<section class="header">
    <div class="header__logo">
        <a href="/index.html"><img src="/images/transformasion-logo-large.png" alt="TransformaSion"></a>
    </div>
    <div class="header__logo--small">
        <a href="/index.html"> <img src="/images/transformasion-logo-small.png" alt="TransformaSion"></a>
    </div>
    <div class="header__hamburguer">
        <img src="/images/hamburguer-icon.png" alt="hamburguer">
    </div>
    
    <!-- ul para header links y social links -->
    <ul class="header__links">
        {{#each navLinks}}
            <li class="header__nav-link">
                {{{module this}}}
            </li>
        {{/each}}
            
        {{#each socialLinks}}
            <li class="header__social-link">
                {{{module this}}}
            </li>
        {{/each}}
    </ul>
</section>
    
