<section class="hero">
   <h1 class="hero__title">{{{title}}}</h1>
   <div class="hero__imageWrapper">
      <img src="{{assetSrc cover}}" class="hero__image"/>
   </div>
   <p>{{{description}}}</p>
</section>