<section class="section__container">
    <div class="container-fluid">
        <div class="row">
          <div class="info col-12 col-sm-12 col-lg-10">
              <div class="info__image">
                  {{{asset image}}}
                  <div class="info__block"></div>
              </div>
              <div class="info__text">
                 <div class="info__line"></div>
                   <h2 class="info__text-title">
                      {{title}}
                  </h2>
                  <p class="info__text-description">
                    {{description}}
                  </p>
             </div>
          </div>
        </div>
    </div>
</section>