<a class="footerlink footerlink--{{type}}" href={{url}}>
    <span class="footerlink__label">{{label}}</span>
    <i class="fab fa-whatsapp footerlink__icon footerlink__icon--whatsapp"></i>
    <i class="fab fa-instagram footerlink__icon footerlink__icon--instagram"></i>
    <i class="fab fa-facebook footerlink__icon footerlink__icon--facebook"></i>
    <i class="fab fa-youtube footerlink__icon footerlink__icon--youtube"></i>
    <i class="fab fa-twitter footerlink__icon footerlink__icon--twitter"></i>
</a>
