<a class="link link--{{type}}" href={{url}}>
    <span class="link__label">{{label}}</span>
    <i class="fab fa-whatsapp link__icon link__icon--whatsapp"></i>
    <i class="fab fa-instagram link__icon link__icon--instagram"></i>
    <i class="fab fa-facebook link__icon link__icon--facebook"></i>
    <i class="fab fa-youtube link__icon link__icon--youtube"></i>
    <i class="fab fa-twitter link__icon link__icon--twitter"></i>
</a>
