<!-- Anchor para mostrar links dependiendo del type y el target para abrirlo en una nueva pestaña -->
<a class="link link--{{type}}" href="{{url}}" target="{{#if isExternal}}_blank{{else}}_self{{/if}}"">
    <span class="link__label">{{label}}</span>

 <!-- Iconos usando la libreria Font Awesome -->   
    <i class="fab fa-whatsapp link__icon link__icon--whatsapp"></i>
    <i class="fab fa-instagram link__icon link__icon--instagram"></i>
    <i class="fab fa-facebook link__icon link__icon--facebook"></i>
    <i class="fab fa-youtube link__icon link__icon--youtube"></i>
    <i class="fab fa-twitter link__icon link__icon--twitter"></i>
</a>