<section class="container majorQuote {{#if isImageRightAligned}}majorQuote--right{{/if}}">
    <div class="majorQuote__image">
        <img src="{{assetSrc image}}" alt="{{imageAltText}}">
    </div>
    <div class="row justify-content-start align-items-end">
        <h3 class="{{#if isBigText}}h3-big{{/if}} majorQuote__title col-9 col-lg-12">{{{quote}}}</h3>
    </div>
</section>