<section class="description__container">
    <div class="container">
        <div class="row">
          <div class="description col-12 col-sm-12 col-lg-12">
              <div class="description__image">
                  {{{asset image}}}
                  <div class="description__block"></div>
              </div>
              <div class="description__text">
                   <h2 class="description__title">
                      {{title}}
                  </h2>
                  <p class="description__content">
                    {{description}}
                  </p>
             </div>
          </div>
        </div>
    </div>
</section>