<section class="blog container">
    
    <hr>
    <h2 class="blog__title">{{title}}</h2>
    <p class="blog__description">{{description}}</p>
    <a class="blog__button" href="{{assetSrc pdf}}" target="_blank">{{buttonLabel}}</a>
    
    
</section>