<section class="stat__list col-lg-12">
    <div class="stat__line"></div>
    <p class="stat__number figures">{{number}}</p>
    <h4 class="stat__title">{{title}}</h4>
    <p class="stat__source">{{source}}</p>
</section>