<section class="testimonial__container">
    <div class="container">
        <div class="row">
          <div class="testimonial col-12 col-sm-12 col-lg-12">
              <div class="testimonial__image">
                  {{{asset image}}}
                  <div class="testimonial__block"></div>
              </div>
              <div class="testimonial__text">
                   <h3 class="testimonial__quote">
                      {{quote}}
                  </h3>
                  <p class="testimonial__author">
                    {{author}}
                  </p>
             </div>
          </div>
        </div>
    </div>
</section>