<section class="images container">
    <div class="images__wrapper row align-items-start">
        {{#each images}}
        <div class="col-9 col-md-4 images__item">
            {{{asset this}}}
        </div>
        {{/each}}
    </div>
</section>